* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.navibar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navibar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navibar a:visited {
  text-decoration: none;
}
.navibar a:hover {
  background-color: #000;
  color: white;
  text-decoration: none;
}

.active {
  background-color: #4CAF50;
  text-decoration: none;
  font-weight: 800;
}

/* Style the search box inside the navigation bar */
.navibar input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 5px;
  font-size: 1em;
}

@media screen and (max-width: 300px) {
  .navibar a {
    float: none;
    display: block;
  }
}

.header {
  text-align: center;
  padding: 12px;
  color: #FCC;
  background: #6F4155
  height: auto;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 16px 16px 0 16px;
  will-change: transform;
  font-size: 18px;
}
.header__title {
  font-weight: 600;
  font-size: 24px;
  margin: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; 
}

.imgrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 0px;
}

.imgrow:before, .imgrow:after{
  width: 0;
}

/* Create four equal columns that sits next to each other */
.imgcolumn {
  -webkit-flex: 12.5%;
  -ms-flex: 12.5%; /* IE10 */
  flex: 12.5%;
  max-width: 12.5%;
  padding: 0 0px;
}

/* Responsive layout - makes a four column-layout instead of eight columns */
@media screen and (max-width: 1200px) {
  .imgcolumn {
    -webkit-flex: 25%;
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
  }
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 600px) {
  .imgcolumn {
    -webkit-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 300px) {
  .imgcolumn {
    -webkit-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

figure {
  text-align: center;
  font-style: italic;
  font-variant: small-caps;
  text-indent: 0;
  border: thin silver solid;
  margin: 0em;
  padding: 0.1em;
  width: 100%;
}

figure:hover {
  transform: scale(1.15);
}
